section{
    display: flex;
  margin: 10px auto;
  flex-wrap: wrap;
}
div{
   border: 1px solid black;
    text-align: center;
    
    color: white;
}
#title{
    width: 20vw;
   
}
#background{
    background-color: pink;
}